.navbar {
  height: 71px;
}
.na-log-name {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  display: flex;
  font-weight: bold;
}
.my-name-nav {
  font-size: 19px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.na-nm {
  cursor: pointer;
}
.na-nm {
  padding: 5px;
  font-family: verdana;
  font-size: 2em;
  color: #262626;
}
.na-nm:hover {
  font-weight: bold;
  background: white;
  border-radius: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.na-nm-bmw-22{
  color: aliceblue;
  margin-top: 5px;
  border-radius: 60px;
  width: fit-content;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
  .navbar {
    height: 400px;
    border-radius: 5px;
  }
  .na-log-name {
    margin: 0;
    padding: 0;
    margin-top: -15px;
    display: flex;
    font-weight: bold;
  }
 .na-nm{
  display: flex;
    align-items: center;
    justify-content: center;

 }
 .na-log-name{
   font-weight: bold;
   font-size: 2rem;
  
  }
  .tar{
    margin-left: 41px;
    font-size: 1.5rem;
  }

 
}
