/* 


.scrollup{
  position: fixed;
  right: 1rem;
  bottom: 20%;
  background-color: rgb(252, 5, 5);
  opacity: .8;
  padding:  0.13rem;
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
 margin-top: -900px;
 
}

.scrollup:hover{
  background-color: green;
  cursor: pointer;
  transform: scale(1.2);
}

.scrollup__icon{
  font-size: 2.51rem;
  color: black;
  margin-top: -7rem;
  
 
}

.show-scroll{
  bottom: 1rem;

} */
.footer-all{
  display: flex;
align-items: center;
/* position: relative; */
margin: 0%;
padding: 0%;
/* background-color: orange; */


}

.foot-wave-yellow{
  height: 28rem; 
  width: 1600px;
  position: relative;

    margin: 0px 0px 0px -60px;

  /* padding: 0px 100px 0px -400px; */
}

 .F-icon-p-para{
  font-size: 2rem;
  /* padding: 40px 100px 0px 100px; */
 }

 .foot-para{
  position: absolute;
  font-size: 36px;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* padding: 900px 0px 0px 0px; */
  color: black;
 }

.F-icon-3-foot{
   display: flex;
  height: 10px;
  position: absolute; 
align-items: flex-start;
gap: 1rem;
/* margin: 700px 50px 0px -800px; */
}
.F-icon-3-foot1{
  height: 60px;
  margin-top: 3rem;
  gap: 1rem;
  display: flex;
  
}
.F-icon-3-foot2{
  height: 60px;
  margin-top: 3rem;
  gap: 1rem;
  display: flex;
  border-radius: 6rem;
}
.F-icon-3-foot3{
  height: 60px;
  margin-top: 3rem;
  gap: 1rem;
  display: flex;
}

.F-icon-3-foot1:hover{
  cursor: pointer;
    transform: scale(1.2);
}
.F-icon-3-foot2:hover{
  cursor: pointer;
    transform: scale(1.2);
}
.F-icon-3-foot3:hover{
  cursor: pointer;
    transform: scale(1.2);
}

.F-icon-3-foot1 img{
  border-radius: 100px;
}
.F-icon-3-foot2 img{
  border-radius: 100px;
}
.F-icon-3-foot3 img{
  border-radius: 100px;
}

