/* .footbar1 {
  margin-top: 20px;
  height: 200px;
  padding: 10px;
  background-color: black;
}

.footbar1 p:nth-child(1) {
  margin-left: 70%;
  margin-top: 10px;
  color: aliceblue;
}

.footbar1 p:nth-child(2) {
  margin-left: 70%;
  margin-top: 1px;
  color: aliceblue;
}

.footbar1 div {
  margin: -30px 0px 0px 20%;
}

.footbar1 div p {
  margin-left: 30%;
}

.footbar1 div img {
  margin-left: 30px;
  margin-top: 1px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition-duration: .5s;
}

.footbar1 div img:hover {
  width: 60px;
  height: 60px;
} */







.scrollup{
  position: fixed;
  right: 1rem;
  bottom: 20%;
  background-color: rgb(252, 5, 5);
  opacity: .8;
  padding:  0.13rem;
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
 margin-top: -900px;

  
  
}

.scrollup:hover{
  background-color: green;
  cursor: pointer;
  transform: scale(1.2);
}

.scrollup__icon{
  font-size: 2.51rem;
  color: black;
  margin-top: -7rem;
  
 
}

.show-scroll{
  bottom: 1rem;

}
.footer-all{
  display: flex;
align-items: center;
position: relative;

}


.foot-wave{
  width: 100rem;
  height: 26rem;
  margin: 800px 0px 0px -120px;
  position: relative;


 
 }
 .F-icon-p-para{
  font-size: 2rem;
  padding: 400px 1000px 0px 700px;
 }

 .foot-para{
  position: absolute;
  font-size: 36px;
  width: 70%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 900px 0px 0px 0px;
  color: black;
 }

.F-icon-3-foot{
   display: flex;
  height: 10px;
  position: absolute; 
align-items: flex-start;
gap: 1rem;
margin: 700px 50px 0px -800px;
}
.F-icon-3-foot1{
  height: 60px;
  margin-top: 3rem;
  gap: 1rem;
  display: flex;
  
}
.F-icon-3-foot2{
  height: 60px;
  margin-top: 3rem;
  gap: 1rem;
  display: flex;
  border-radius: 6rem;
}
.F-icon-3-foot3{
  height: 60px;
  margin-top: 3rem;
  gap: 1rem;
  display: flex;
}

.F-icon-3-foot1:hover{
  cursor: pointer;
    transform: scale(1.2);
}
.F-icon-3-foot2:hover{
  cursor: pointer;
    transform: scale(1.2);
}
.F-icon-3-foot3:hover{
  cursor: pointer;
    transform: scale(1.2);
}