.intro{
    display: flex;
    height: 77vh;
    margin-top:12rem;


}
.intro-fullstack{
  width: 800px;
}
.I-left{
    display: flex;
    position: relative;
    flex: 1;

}

.i-name{
    display: flex;
    flex-direction: column;
}
.i-name>:nth-child(1){
    color:#242d49;
    font-weight: bold;
    font-size: 2rem

}
.intro-fullstack-fsd{
  color:black;

  background-color: rgb(189, 224, 15);
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 1rem;
  width: fit-content;
  padding: 3px;

}

.i-name>:nth-child(2){
    color: var(--orange);
    font-weight: bold;
    font-size: 4rem

}
.i-name>:nth-child(4){
    color: var(--gray);
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    padding:0px 0px 0px -200px;
    

}



.i-icons{
    margin-top: 3rem;
    gap: 0rem;
    display: flex;
}
.i-icons>*{
    transform:scale(0.5);

}
.i-icons>*:hover{
    cursor: pointer;
    transform: scale(1);
    z-index: 1;
}







.i-right>:nth-child(1){

  margin: -50px 0px 0px 130px;
  border-radius: 1rem;
}

.i-right>:nth-child(1):hover {
 
  border: 1px solid black;
  box-shadow: 1px 1px 10px black;
  border-radius: 300px;
}



.home__scroll{
   text-align: center;
    transition: .3s;
    padding-top: 50px;
    color: red;
  }
  
  .home__scroll-mouse:hover {
    transform: translateY(0.25rem);
  }
  .home__scroll-mouse{
    font-size: 2rem;
    color: black;
    font-weight: bold;
    
  }

  .home__scroll-name{
    font-size: 10px;
    color:black;
    font-weight: bold;
    text-decoration: none;
    color: rgb(131, 131, 153);
    
    
  }
  .home__scroll-arrow {
    font-size: 2.25rem;
    color: black;
    text-decoration: none;

    
  }





  
  