.n-warpper{
    height: 10vh;
    display: flex;
    justify-content: space-around;
  
    
    
}
.n-left{
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
    
  


}

.n-name{
    font-size: 2.3rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(239, 251, 9);
   border-radius: 15px;

}
.n-right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 900;

    
}

.n-list{
    flex: 10;
    
   
}

.n-list>ul{
    display: flex;
    gap: 2rem;
    margin-right: 4rem ;
   
}
 
.n-list ul li a:hover{
    cursor: pointer;
    color: var(--orange);
}

.nav-cont-cen a{
        text-decoration: none;
        color: aliceblue;
   
}
.n-list ul li a{
    color:black;
    text-decoration: none;
}

