/* .Skill__containerr{
    row-gap: 0;
}
.Skill--desing-full{
  
   display: flex;
   align-items: center;
   cursor: pointer;
   height: max-content;
}


.Skill__header{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;


}

.Skill--desing-full{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Skill-head{
    font-size: 50px;
    text-align: center;
    justify-content: space-around;
    padding-top: 50px;
    color:var(--orange);

}
.Skill-subtitle2{
    display: flex;
    text-align: center;
    justify-content: center;


}

.Skill__icon,
.Skill__arrow{
    font-size: 2rem;
   color: var(--first-colour);

}
.Skill__icon{
    margin-right: var(--mb-0-75);

}
.Skill__title{
    font-size: var(--h3-font-size);
    
}
.Skill__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    text-align: center;

}
.Skill__arrow{
    margin-bottom: auto;
    transition: .4s;

}
.Skill__titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
    
    
}

.Skill__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
     
}

.Skill__bar,
.Skill__percentage{
    height: 5px;
    border-radius: .25rem;
}

.Skill__bar{
    background-color: var(--first-colour-lighter);

}
.Skill__percentage{
    display:block  ;
    background-color: orange;
}

.Skill__html{
    width: 90%;
}
.Skill__css{
    width: 80%;
}
.Skill__js{
    width: 70%;
}
.Skill__react{
    width: 80%;
}
.Skill__mongo{
    width: 80%;
}
.Skill__node{
    width: 70%;
}
.Skill__firebase{
    width: 40%;
}
.Skill__express{
    width: 70%;
}
.Skill__figma{
    width: 70%;
}
.Skill__sketch{
    width: 85%;
}
.Skill__photoshop{
    width: 75%;
}

.Skill__close  .Skill__list{
    height: 0;
    overflow: hidden;

}
.Skill__open .Skill__list{
    height: max-content;
    margin-bottom: var(--mb-2-5);


}

.Skill__open .Skill__arrow{
     transform: rotate(-180deg);
}
.Skill__data{
    padding: 0px 0px 20px 0px;
}


.Skill-aline-des1{
 height: 220px;
 width: 500px;
  position: relative;
   margin: 0px 0px 0px -200px;

}
.Skill-aline-des2{
 height: 220px;
 width: 500px;
  position: relative;
   margin: -200px 0px 0px 400px;

}
.Skill-aline-des3{
    height: 220px;
    width: 500px;
     position: relative;
      margin: 0px 0px 0px -200px;

}
 */

 .Skil-head-all{
   margin-top: 400px;
   background-color: #f7eef6;
   height: 600px;
   
   
 }

 .Skill-title1{
    color: var(--black);
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0px -400px 0px 100px;
 
    
 }
 .Skill-ski2{
    color: var(--orange);
    font-size: 2.8rem;
    font-weight: bold;
  margin: 0px -400px 0px 200px;
   
    position: absolute;

 }




.skill-icons{
    width: 40px;
    height: fit-content;
    margin: 10px;
    color: rgb(63, 63, 60);
    transition-duration: .5s;
    font-size: 20px;
   
}
.skill-icons:hover{
    font-size: 30px;
    box-shadow: 1px 1px 10px black;
    border-radius: 10px;
    
}

.skill-gif{
    height: 400px;
    width: 500px;
    margin: 80px 0px 0px 50px;
}


.home-Skill_ul li {
    font-size: 20px;
    display: inline-flex;
    list-style-type: disc;
    padding: 20px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(63, 63, 60);
    transition-duration: .5s;
}
