@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Rubik+Dirt&family=Urbanist:wght@100&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none; 
  text-decoration: none;
  font-family: "poppins", sans-serif;

}
*{
  scroll-behavior: smooth;
}

/* body.dark-theme {
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}






:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --bluecard: #ddf8fe;
  --purple: rgb(238 219 255);
  --boxshadow: 0px 19px 16px reg(0 0 0 / 8%);
  --orangecard: rgba(252, 166, 31, 0.45);
  --smboxshadow: -79px 51px 60px rgba(0, 0, 0.08);
}

/* .App {
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
} */


/* */
/* .button:hover{
   background-color: white;
   cursor: pointer;
   color: var(--orange);
   border: 1px solid var(--orange);
} */




/*Glow Button  */

.glow-on-hover {
  margin-left: 20px;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  text-decoration: none;
  color: aliceblue;
  font-weight: bolder;
  padding: 10px 30px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(10px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 30s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: greenyellow
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
      background-position: 0 0;
  }

  50% {
      background-position: 400% 0;
  }

  100% {
      background-position: 0 0;
  }
}



@media only screen and (min-width: 300px) and (max-width: 500px) {
  .glow-on-hover {
    margin-left: 20px;
    width: 150px;
    font-size: 15px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-decoration: none;
    color: aliceblue;
    font-weight: bolder;
    padding: -18px 30px;
  }
  
  .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(10px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 30s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  
  .glow-on-hover:active {
    color: greenyellow
  }
  
  .glow-on-hover:active:after {
    background: transparent;
  }
  
  .glow-on-hover:before {
    opacity: 1;
  }
  
  .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @keyframes glowing {
    0% {
        background-position: 0 0;
    }
  
    50% {
        background-position: 400% 0;
    }
  
    100% {
        background-position: 0 0;
    }
  }








}
